
<router-outlet>
  <div class="categoria">
    <h4 class="titulo">categoria</h4>
    <label class="label" for="id">id:</label>
   <input class="texto" type="text" placeholder="ingresar id">
    <label class="label" for="name">nombre categoria:</label>
   <input class="texto" type="text" placeholder="ingresar nombre">
   <button class="botones">guardar</button>
   <button class="botones">buscar</button>
   <button class="botones">modificar</button>
   <button class="botones">eliminar</button>
  </div>
</router-outlet>
